@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$font_color1:black;
$font_color2:#5CC5CC;
$back_color1:rgb(192, 216, 215);
$back_color2:#EFFF8A;
$back_color3:#E4F6F6;;
td{border: 10mm; border-color: $font_color1; background-color: $font_color1;
    line-height: 0;
    font-size: 8em;
    height: 0.8em ;
    width: 1em;
    border-radius: 0.05em;
    span{
       // font-size: 1.3em;
        //text-align: center;
        color:$font_color2;
    }
}
td:hover{
    background-color: rgb(56, 73, 79);
}
*{box-sizing:border-box}

@keyframes loader {
  0% {transform:rotate(-45deg)}
  50%{transform:rotate(-135deg)}
  100%{transform:rotate(-225deg)}}
@keyframes span-1 {
  0% {transform:translate(0);}
  50%{transform:translate(-50px, 0);border-color:$back_color1}
  100%{transform:translate(0);}}
@keyframes span-2 {
  0%{transform:translate(0);}
  50%{transform:translate(50px, 0);border-color:blue}
  100%{transform:translate(0);}}
@keyframes span-3 {
  0%{transform:translate(0);}
  50%{transform:translate(0, -50px);border-color:$back_color2}
  100%{transform:translate(0);}}
@keyframes span-4 {
  0%{transform:translate(0);}
  50%{transform:translate(0, 50px);border-color:#00E4F6}
  100%{transform:translate(0);}}
.loader {
  width: 50px;
  height: 50px;
 // position: relative;
  animation: loader 2s infinite ease-in-out;
}
.loader span {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  top: 0;
  border: 4px solid $font_color2;
}
.loader span:nth-child(1) {
  animation: span-1 2s ease-in-out infinite;
}
.loader span:nth-child(2) {
  animation: span-2 2s ease-in-out infinite;
}
.loader span:nth-child(3) {
  animation: span-3 2s ease-in-out infinite;
}
.loader span:nth-child(4) {
  animation: span-4 2s ease-in-out infinite;
}
.pre_loader{
   
   
    padding-left:6em;
    height: 7em;
}
Resources
span
{
    color: white;
   
}

body{
   
    margin-left: auto;
    margin-right: auto;
    width: 15em;
    font-family:  'Open Sans', 'Courier New', Courier, monospace;
}

header{
   
    text-align: center;
    //font-size: 2em;
   
    
    #title_name_1{
      
        font-size: 3em;
        background: $back_color1;
    }
    #title_name_2{
        font-size: 1.7em;
        background:$back_color2;
    }
    #name
    {
        font-size: 3em;
        background: $back_color3;
        color:$font_color2;
    }  

}
#button_1{
    background-color: $back_color1;
    width: 7.5em;
    height: 3em;
    font-size: 2em;
    border: 0;
    color:white;
    border-radius: 0.3em;
}
#button_1:hover{
    background-color: white;
    color:$back_color3;
}
#button_1:active{
    background-color: $back_color3;
    color:$font_color2;

}
#label1{
    
    font-size: 4em;
    text-align: center;
}